{% extends 'base.html' %}

{% block content %}
<h1>Classes</h1>

<table>

  <p gym_class="btn--wrapper">
    <a gym_class="btn btn--action" href="/gym_classes/new">Add a Class</a>
  </p>  

  <tr>
    <th>Name</th>
    <th></th>
    <th>Instructor</th>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Start Time</th>
    <th></th>
    <th>Capacity</th>
  </tr>
  {% for gym_class in gym_classes %}
  <tr>
    <td><a href="/gym_classes/{{ gym_class.id }}"> {{gym_class.name}} </a></td>
    <td>|</td>
    <td>{{ instructors[(gym_class.instructor)-1].name }}</td>
    <td>|</td>
    <td>{{ gym_class.date }}</td>
    <td>|</td>
    <td>{{ gym_class.time }}</td>
    <td>|</td>
    <td>{{ capacities[gym_classes.index(gym_class)][0] }}/{{ gym_class.capacity }}</td>
    <td>|</td>
    <td><form action="/gym_classes/{{ gym_class.id }}/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="Delete" />
    </form></td>
  </tr>
  {% endfor %}

</table>
{% endblock %}