{% extends 'base.html' %}

{% block content %}
<h1>Create a Class</h1>

<table>
<form action="/gym_classes" method="post">
  
    <label for="class_name">Class Name:</label>
    <textarea name="class_name" id="class_name" cols="2" rows="2"></textarea>

    <label for="instructor">Select an Instructor:</label>
      <select name="instructor" id="instructor">
        {% for staff_member in staff_members %}
        <option value="{{ staff_member.id }}">{{ staff_member.name }}</option>
        {% endfor %}
      </select>

    <label for="date">              Date:</label>
    <input type="date" id="date" name="date"
           value="2021-10-28"
           min="2021-010-028" max="2022-10-28">
    <label for="time">              Time:</label>
    <input type="time" id="time" name="time"
          min="00:00" max="23:59" required>

  
    <label for="duration">                Duration:</label>
    <input type="number" id="duration" name="duration">
    <label for="capacity">              Capacity:</label>
    <input type="number" id="capacity" name="capacity">

  <input gym_class="btn btn--action" type='submit' value="submit">
</form>
</table>

{% endblock %}