{% extends 'base.html' %}

{% block content %}
<h1> {{gym_class.name}} </h1> 

  <td><a href="/gym_classes/{{ gym_class.id }}/edit"> Edit </a></td>

<p>Hosted by: {{ instructors[(gym_class.instructor)-1].name }}</p>

<p>Current capacity: {{ capacities[0][0] }}/{{ gym_class.capacity }}</p>

<h3>Attended by:</h3>
<ul>
    {% for member in members %}
        <li>{{member.name}}</li>
        <td><form action="/gym_classes/{{ gym_class.id }}/{{member.id}}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="Delete"/>
    {% endfor %}
</ul>


{% endblock %}