{% extends 'base.html' %}

{% block content %}
<h1>Book a Class</h1>

<form action="/members" method="post">
  
    <label for="member_name">Enter Name:</label>
    <textarea name="member_name" id="member_name" cols="2" rows="1"></textarea>

    <label for="type">Membership Type:</label>
    <select name="type" id="type">
        <option value="Premium">Premium</option>
        <option value="Standard">Standard</option>
      <option value="Deactivated">Deactivated</option>
    </select>

  <input member="btn btn--action" type='submit' value="submit">
</form>

{% endblock %}