{% extends 'base.html' %}

{% block content %}
<h1>Edit Staff Member</h1>

<form action="/staff_members/{{staff_member.id}}" method="post">
  
    <label for="staff_member_name">Enter Name:</label>
    <textarea name="staff_member_name" id="staff_member_name" cols="2" rows="1">{{staff_member.name}}</textarea>

    <label for="job_type">Job Role:</label>
    <select name="job_type" id="job_type">
        <option value="Instructor">Instructor</option>
      <option value="Manager">Manager</option>
      <option value="Cleaner">Cleaner</option>
    </select>

  <input member="btn btn--action" type='submit' value="submit">
</form>

{% endblock %}