{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>




<table>
  <tr>

    <p gym_class="btn--wrapper">
      <a gym_class="btn btn--action" href="/bookings/new">Book Class</a>
    </p>
  </tr>
  {% for booking in bookings %}
  <tr>
    <td><a href="/bookings/{{ booking.id }}"> {{booking.name}} </a></td>
    <td>{{ booking.member.name}} - {{ booking.gym_class.name }} - {{ booking.gym_class.date }} - {{ booking.gym_class.time }}</td>
    <td><form action="/bookings/{{ booking.id }}/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="Delete" /></form></td>
  </tr>
  {% endfor %}
</table>



{% endblock %}