{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>

<p gym_class="btn--wrapper">
  <a gym_class="btn btn--action" href="/bookings/new">Book a Class</a>
</p>

<ul>
  {% for booking in bookings %}
  <li>
  <p>{{ booking.member.name }} - {{ booking.gym_class.name }} </p>
    <p>
      <form action="/bookings/{{ booking.id }}/delete" method="POST">
        <input gym_class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}