input[type="submit"] {
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
  }
  
  select {
   width: 300px;
   padding: 5px 35px 5px 5px;
   margin: 15px 0;
   font-size: 0.8em;
   -webkit-appearance: none;
   background: 96% / 15% no-repeat papayawhip;
   font-family: 'Merriweather', serif;
   border: 1px solid #eee;
   display: block;
  } 

  textarea {
      width: 96%;
      padding: 5px 35px 5px 5px;
      margin: 15px 0;
      font-size: 0.8em;
      -webkit-appearance: none;
      background: 96% / 15% no-repeat papayawhip;
      font-family: 'Merriweather', serif;
      border: 1px solid #eee;
      display: block;
  }
  
  :focus {
    outline-color: transparent;
    outline-style: none;
  }

    /* Style the submit button */
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }