<!DOCTYPE html>
<html>
<head>
  <title>CodeGym</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  

  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
</head>
<body>

<header>CodeGym</header>

<main gym_class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/gym_classes">gym classes</a>
      </li>
      <li>
        <a href="/members">members</a>
      </li>
      <li>
        <a href="/staff_members">staff members</a>
      </li>
      <li>
        <a href="/bookings">Book a Class</a>
      </li>
      
    </ul>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>